<h3> Produto <%= @product.id%></h3>
    <p> Nome: <%= @product.name %> </p>
    <p> Preço: <%= @product.price %> </p>
    <p> Quantidade: <%= @product.quantity %> </p>

<%= link_to 'Voltar', products_path %>